<!DOCTYPE html>
<html ng-app="converter">
<head>
    <title></title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/angular.js"></script>
    <script src="app/js/controllers.js"></script>
</head>
<body ng-controller="ConverterController as converter">

    {{ converter.length }} {{ converter.inputFormat }} in {{ converter.outputFormat }} 
    <p>
        <span>Length : </span>
        <input ng-model="converter.length" ng-change="converter.getResult()"></input>
    </p>
    <p>
        <span>Input format : </span>
        <select ng-model="converter.inputFormat" ng-change="converter.getResult()" ng-options="unit for unit in converter.units"></select>
    </p>
    <p>
        <span>Output  format: </span>
        <select ng-model="converter.outputFormat" ng-change="converter.getResult()"  ng-options="unit for unit in converter.units"></select>
    </p>

     {{ converter.result }}
</body>
</html>
